@import 'variables'

.linkedin
  margin: 0
  padding: 0
  width: auto
  height: 1.95em

.content-wrapper
  overflow: auto
  position: relative
  color: white
  padding: 2em 5%
  min-height: 100%
  @media screen and (max-width: $break-md)
    padding: 2em 2% !important
  @media screen and (max-width: $break-sm)
    padding: 2em 0 !important

md-content
  background-color: transparent
  color: white

.column-right
  .navbar,
  .card
    margin-left: 1em
    @media screen and (max-width: $break-sm)
      margin-left: 0
  .card
    margin-bottom: 1em

.navigation .column-right
  @media screen and (max-width: $break-sm)
    width: 80%

nav
  a
    padding-bottom: $border-height
    font-size: $title-font-size
    line-height: $title-font-size
    font-weight: $title-font-weight
    border-bottom: solid $phone-color $border-height*1.5
    text-transform: uppercase
    color: white
    margin-right: 1em
    opacity: 0.5
    transition: border-bottom 0.25s 0.1s, opacity 0.25s 0.1s ease-in-out

    &:first-child
      margin-left: 0

    &:hover,
    &:active,
    &.active
      opacity: 1
      border-bottom: solid $phone-color $border-height*4
.link
  text-decoration: none
  border-bottom: none
  transition: none
  transition: color 0.25s ease-in-out
  white-space: normal
  &:hover
    text-decoration: none
    border-bottom: none
    transition: none

.logos
  max-width: $break-sm
  a
    text-decoration: none
    border-bottom: none
    padding-right: 2rem
  img
    width: auto
    height: 5rem

.content
  margin-top: 4em

.header,
.card
  position: relative
  width: $card-max-width
  max-width: $card-max-width
  .title,
  .subtitle
    text-transform: uppercase
    margin: 0
  .title
    font-size: $title-font-size
    line-height: $title-font-size
    font-weight: $title-font-weight
    border-bottom: solid white $border-height*2
  .subtitle
    font-size: 1.6em
    line-height: 2.8em
    height: 34px
    border-bottom: solid $phone-color $border-height
  .description
    min-height: 6em
  .learned
    min-height: 5em
  .learned-title
    margin-bottom: 0
    font-weight: 700
  .learned
    margin-top: 0
  .url
    height: 3em
  .link
    font-size: 1.2em
    &:hover
      color: black
  .description,
  .link,
  .learned-title,
  .learned
    font-size: 1.2em
  .link,
  .learned-title,
  .learned
    color: $phone-color
  .cover,
  .overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  .cover
    background-repeat: no-repeat
    background-size: cover
  .overlay
    opacity: 0
    color: white
    background-color: rgba(black, 0.5)
    transition: all 0.5s ease-in-out
    &:hover
      opacity: 1
    p.title
      text-align: center
      padding: 1em
      margin: 0.1em
      border-top: rgba(white, 0.6) solid $border-height
      border-bottom: rgba(white, 0.6) solid $border-height
      text-transform: lowercase
  @media screen and (max-width: $break-sm)
    width: 80%
    max-width: 80%
    .learned,
    .description,
    .url
      min-height: 0
      height: auto

.contact
  padding-bottom: 1.25rem
  .name
    padding-top: 1.25rem
    color: white
    border-bottom: solid white $border-height*1.5
    margin-bottom: 0.5em
  .mail
    color: $mail-color
    border: none
    &:hover
      color: white
  .phone
    color: $phone-color
    border: none
    &:hover
      color: white

.profile,
.work,
.project
  $base-color: black
  color: $base-color
  .navbar
    a
      color: $base-color
      &:hover,
      &:active,
      &.active
        border-color: black

  .contact
    .name
      color: $base-color
      border-color: $phone-color
    .mail
      color: $mail-color
      &:hover
        color: $base-color
    .phone
      &:hover
        color: $base-color
  .card
    .title
      text-transform: none
      border-color: $base-color
    min-width: $card-max-width
    min-height: $card-max-width

.homepage
  background-image: url('/images/homepage_photo.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom center
  .column-right
    .card
      padding-top: 4.375em
    .logos
      max-width: $break-sm !important
.profile
  .card
    .url
      .link
        color: $mail-color
        &:hover
          color: black
