.login
  background-image: url('/images/cover_photo.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top center

  .contact
    .name
      border-color: black
    .mail,
    .phone
      color: white
      &:hover
        color: black
  .login-form
    margin-top: 10em
    md-content
      background-color: transparent
    .md-padding
      margin-top: 5em
    md-input-container
      label
        color: rgba(0,0,0,0.75)
      input
        background-color: rgba(255,255,255,0.75)
      &.md-input-focused
        font-size: 1.5em
        input
          border-color: rgba(0,0,0,.75) !important
        label
          color: rgba(255,255,255,1)
    label,
    input
      font-size: 1.5em
    button>span,
      font-size: 1.2em
