@import 'variables'

.project
  .card
    .subtitle
      a
        text-transform: uppercase
        font-size: 1rem
        overflow: hidden
        white-space: nowrap
        text-overflow: clip
        color: $mail-color
        &:hover
          color: black
    .logo
      img
        background-color: black
        height: 5rem
        width: auto
    .description,
    .learned
      min-height: 0
      height: auto
      line-height: 1.25em
    .learned-title
      padding-top: 1em
      padding-bottom: 0.25em
    .tags-container,
    .designers,
    .location
      border-top: solid $phone-color $border-height
      padding: 0.25em 0
    .tags,
    .year
      text-transform: uppercase
      font-size: 1.5em
    .tags,
    .location,
    .year
      font-weight: 600
    .designers
      &:before
        content: 'Designers, '
    .location,
    .designers
      color: $phone-color
      font-size: 1.1em

  .image-container
    padding: 2em 0 0 2em
    width: 100%
    height: auto

.nav-projects
  a
    text-transform: uppercase
    font-size: 1.5em
    border-top: solid black $border-height
    border-bottom: solid black $border-height
    transition: none
    padding: 0.125em 0.5em
    line-height: 2em
    &:hover,
    &:active,
    &:visited
      color: black
  .prev
    &:before
      content: '<'
      padding-right: 0.5em
      color: $phone-color
      font-weight: 600
  .next
    &:after
      content: '>'
      padding-left: 0.5em
      color: $phone-color
      font-weight: 600

@media screen and (max-width: $break-sm)
  .project
    .nav-projects
      width: 80%
      max-width: 80%
      margin: 2em 0 0 10%

    .image-container
      padding: 0
      padding-bottom: 1em
      width: 80%
      max-width: 80%
