// bower:scss
// endbower

@import 'login';
@import 'homepage';
@import 'project';
@import 'work';

html * {
  font-family: 'Gandhi Sans','Roboto', Helvetica, Arial, sans-serif;
  font-size: 10px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}
