<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pedro Cardoso - Portfolio</title>
    <base href="/">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body layout="row" ng-cloak="" ng-app="cardoso" ng-controller="MainController">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <md-content class="content-wrapper" layout-padding layout-fill ng-class="{login: isLogin(), homepage: isHomepage(), profile: isProfile(), work: isWork(),project: isProject()}">
      <div layout-sm="column" layout="row" class="navigation" layout-align-sm="center center">
        <div layout="column" class="contact header" ng-class="{margin: addLeftMargin, 'column-left': addLeftMargin}">
          <a class="name md-caption" href="#/">Pedro Nuno Rodrigues Cardoso</a>
          <a class="mail md-caption" href="mailto:&#112;&#101;&#100;&#114;&#111;&#110;&#114;&#099;&#097;&#114;&#100;&#111;&#115;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">pedronrcardoso@gmail.com</a>
          <a class="phone md-caption" href="tel:+351919542866">+351 919 542 866</a>
        </div>
        <div layout="column" class="column-right" ng-class="{margin: addRightMargin}" flex ng-if="!isLogin()">
          <nav class="navbar" flex flex-align-sm="start start">
            <a href="#profile" ng-class="{active: isProfile()}">Profile</a>
            <a href="#work" ng-class="{active: isWork() || isProject()}" flex>Work</a>
          </nav>
        </div>
      </div>
      <ng-view flex></ng-view>
    </md-content>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.12/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.12/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.12/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.12/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/projects.js"></script>
    <script src="scripts/profile.js"></script>
    <script src="scripts/project.controller.js"></script>
    <!-- endbuild -->
  </body>
</html>
