<div layout-sm="column" layout="row" class="content" layout-align-sm="center center">
  <div layout="column" flex class="card" ng-class="{margin: addLeftMargin, 'column-left': addLeftMargin}">
    <p class="title">Portfolio</p>
    <p class="subtitle">&nbsp;</p>
    <p class="description">The following work is a representation of my recent work.
      <br>Developed for all sorts of platforms and contexts.
      <br>
      <br>Unfortunately some I can’t show. They call it NDAs.
      <br>
      <br>I’ve added a very simple explanation and context not to bother you so much.</p>
  </div>
  <div layout="column" flex ng-class="{margin: addRightMargin, 'column-right': addRightMargin}">
    <div layout="row" layout-sm="column" flex layout-align-sm="center center">
      <div class="card">
        <p class="subtitle">The Big Names</p>
        <p class="description">A few of the big names that I worked with. Although I was deeply integrated with their structure, this serves also to impress you.</p>
      </div>
    </div>
    <div layout="row" layout-sm="column" flex layout-align-sm="center center">
      <div layout="row" class="logos card" flex layout-align="space-between center" layout-wrap>
        <a href="//www.google.com" target="_blank">
          <img src="/images/logos/google.svg" alt="Google" flex />
        </a>
        <a href="//www.intel.com" target="_blank">
          <img src="/images/logos/intel.svg" alt="Intel" flex/>
        </a>
        <a href="//www.lytro.com" target="_blank">
          <img src="/images/logos/lytro.svg" alt="Lytro" flex/>
        </a>
        <a href="//www.samsung.com" target="_blank">
          <img src="/images/logos/samsung.svg" alt="Samsung" flex/>
        </a>
      </div>
    </div>
  </div>
</div>
