<div class="login-form" layout="row">
  <div offset="10" flex="20" flex-sm="50" layout="column">
    <md-content>
      <form ua-login>
        <div layout="column">
          <md-input-container flex="">
            <label>Username</label>
            <input type="text" name="login">
          </md-input-container>
          <md-input-container flex="">
            <label>Password</label>
            <input type="password" md-input-name="password" name="password" required="">
            <div ng-messages="error.message" ng-if="error">
              <div ng-message="required">
                You <b>must</b> enter a password.
              </div>
            </div>
          </md-input-container>
          <md-button type="submit" name="button">Login</md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>
