<div layout-sm="column" layout="row" class="content" layout-align-sm="center center">
  <div layout="column" flex class="card" ng-class="{margin: addLeftMargin, 'column-left': addLeftMargin}">
    <p class="title">UX & UI Designer</p>
    <p class="subtitle" layout="row">
      <a class="link" href="https://pt.linkedin.com/pub/pedro-cardoso/2/200/868" target="_blank">
        <img class="linkedin" src="https://www.linkedin.com/scds/common/u/images/logos/linkedin/logo_in_nav_retina_88x72.png">
      </a>
    </p>
    <p class="description">Actually what this means is that I see Design as a whole. For these titles to make sense I would need an extensive list (quite extensive) of moments within a Design Project that I do and love. These two terms are catchy and trendy, so for the time
      being I’m going with them.</p>
  </div>
  <div layout="column" flex ng-class="{margin: addRightMargin, 'column-right': addRightMargin}">
    <div layout="row" layout-sm="column" flex layout-align="start start" layout-align-sm="center center" layout-wrap>
      <div ng-repeat="time in timeline" class="card">
        <p class="title">{{time.year}}</p>
        <p class="subtitle">{{time.title}}</p>
        <p class="description">{{time.description}}</p>
        <p class="learned-title">WHAT I'VE LEARNED</p>
        <p class="learned">{{time.learned}}</p>
        <p class="url"><a ng-if="time.url" class="link" ng-href="{{time.url.value}}" target="_blank">{{time.url.type}}</a></p>
      </div>
    </div>
  </div>
</div>
