<div layout="row" class="nav-projects">
  <div layout="column" flex layout-align-sm="start start" layout-align="end end">
    <div layout="row">
      <a class ="prev" ng-if="hasPreviousProject()" ng-href="{{getPrevUrl()}}">PREV</a>
      <a class= "next" ng-if="hasNextProject()" ng-href="{{getNextUrl()}}">NEXT</a>
    </div>
  </div>
</div>
<div layout-sm="column" layout="row" class="content" layout-align-sm="center center">
  <div layout="column" flex class="card column-left" ng-class="{margin: addLeftMargin}">
    <p class="title">{{project.title}}</p>
    <p class="subtitle">
      <a class="link" ng-if="project.url" ng-href="{{project.url.value}}" target="_blank">{{project.url.type}}</a>
    </p>
    <p class="description">{{project.description}}</p>
    <p class="learned-title">WHAT I'VE LEARNED</p>
    <p class="learned">{{project.learned}}</p>
    <p class="logo" ng-if="project.logo">
      <img ng-src="{{project.logo}}" alt="{{project.title}}">
    </p>
    <div class="tags-container" layout="row" ng-if="project.tags" layout-align="end end">
      <div class="tags" flex>{{getTags()}}</div>
      <div class="year">{{project.year}}</div>
    </div>
    <p class="designers" ng-if="project.designers">{{getDesigners()}}</p>
    <p class="location" ng-if="project.location">{{project.location}}</p>
  </div>
  <div layout="column column-right" flex ng-class="{margin: addRightMargin}">
    <div layout="row" layout-sm="column" flex layout-align="start start" layout-align-sm="center center" layout-wrap>
      <div flex="100" style="padding-top:2em" hide-sm></div>
      <img ng-repeat="media in project.media" class="image-container" ng-src="{{media.url}}">
    </div>
  </div>
</div>
