<div layout-sm="column" layout="row" class="content" layout-align-sm="center center">
  <div layout="column" flex class="card column-left" ng-class="{margin: addLeftMargin}">
    <p class="title">1998&nbsp;-&nbsp;2016</p>
    <p class="subtitle" layout="row">
    </p>
  </div>
  <div layout="column column-right" flex ng-class="{margin: addRightMargin}">
    <div layout="row" layout-sm="column" flex layout-align="start start" layout-align-sm="center center" layout-wrap>
      <div flex="100" style="margin-top: 3em" hide-sm></div>
      <div ng-repeat="project in projects" class="card project" ng-click="showProject(project)">
        <div class="cover" ng-style="{'background-image': 'url(' + project.cover + ')'}"></div>
        <div class="overlay" layout="row" layout-align="center center">
          <p class="title" flex>
            {{project.title}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
